body {
    overflow-x: hidden;
    background: #F4F4F7;
}
.navMenu {
    background-size: contain;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 999; /* Stay on top */
    top: 0;
    left: 0;
    text-align: center;
    border: 0px 2px 0px 0px white;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.navMenu a {
    top: 30px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.navMenu a:hover {
    color: white;
}
.navMenu .nav-close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 60px;
    margin-left: 50px;
}
.mat-menu {
    color: white;
    font-size: 60px;
}
.mainNav {
    background-color: #27ae60;
    border-radius:  0px;
    width: 100%;
/*    box-shadow: 1px 5px #E0E0E0;*/
    z-index: 2;
    height: 60px;
    transition: 0.3s;
}
ul {
    list-style: none;
}
.col-md-6 .navbar {
    bottom: 7px;
}
.topOptions {
    color: white;
    font-size: 20px;
    text-align: center;
    bottom: 20px;
}
.topOptions li a {
    color: white;
}
.topOptions li a:hover {
    color: white;
    background: #388E3C;
}
.topOptions li a:focus {
    color: white;
    background: #388E3C;
}
.navH {
    font: 'Ubuntu',sans-serif;
    text-align: center; 
    font-weight: 500;
    color: black;
}
.settingsPopover .image-circle {
    margin-top: -10px;
    height: 40px;
    width: 40px;
    border-radius: 20px 20px;
    box-shadow: none;
}
.settingsPopover {
    color: black;
}
.popover {
    width: 200px!important;
}
.active {
    border-bottom: 5px solid white;
    margin: 0px;
    transition: 0.1s;
}
.tab-content {
    position: absolute;
    top: 200px;
}
.nav-form {
    position: relative;
    margin: 10px;
    width: 100%;
}
.tabs {
    text-align: center;
}
.navTabs {
    display: inline-block;
    color: white;
    text-align: center;
    margin: 10px;
}
.tabicon{
    font-size: 30px;
}
.btn-tab {
    background-color: transparent;
    border: 0px;
    padding: 4px;
}
.navHeading {
    font-family: 'Pacifico',cursive;
    margin: 2px;
    color: white;
}
.form-field {
    background-color: #388E3C;
    border: 1px solid #388E3C;
    border-radius: 20px 0px 0px 20px;
    height: 37px;
    color: white;
    z-index: 0;
}
.form-field:focus {
    border: 1px solid white;
}
.btn-biarro {
    background-color: #388E3C;
    color: white;
    height: 37px;
    border-radius: 20px;
}
.biarro_description {
    margin-top: 60px;
}
.main {
    margin-top: 100px;
}
.features {
    background-color: white;
    height: 100%;
}
.featureHeading {
    font-family: 'Roboto',sans-serif;
    font-weight: 900;
    font-size: 50px;
}
.featureText {
    font-family: 'Ubuntu',sans-serif;
    font-weight: 100;
    font-size: 20px;

}
.feature {
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}
.feature_icon {
    font-size: 100px;
}
.btn-post-material {
    margin: 20px;
    position: fixed;
    bottom: 10px;
    right: 48%;
    width: 50px;
    height: 50px;
    background-color: #27ae60;
    border: 0px;
    border-radius: 50%;
    color: white;
    box-shadow: 2px 5px #616161;
    
}
.btn-post-material:hover {
    color: white;
    background-color: red;
    transition: 0.4s;
}
.btn-post-material:focus {
    color: white;
}
.postform {
    padding: 10px;
}
.extraTags {
    padding: 10px;
    margin: 10px;
    background-color: #EEEEEE;
}
.well-ff {
    border-radius: 0px!important;
    background: transparent!important;
    max-width:350px;
    height: 100%;
    text-align: left!important;
    letter-spacing: -1px;
    
}
.well-ff .nav-heading {
    color: black;
    font-size: 20px;
}
.navOption .material-icons {
    font-size: 20px;
    padding: 3px;
}
.well-ff a .navOption {
    color: black;
    opacity: 0.6;
    font-size: 20px;
/*    border-top: 2px solid #BDBDBD;*/
/*    border-bottom: 1px solid #BDBDBD;*/
}
.well-ff a .navOption:hover {
    background-color: #FFF;
}
.tagged {
    background-color: cornflowerblue;
    color: white;
    padding: 10px;
    float: left;
    border-radius: 30px 30px;
}
.jumbotron {
    background-color: transparent !important;
}
.tab-content {
    text-align: center; 
}
#fileUpload {
    display: none;
    visibility: hidden;
}
#preview-image {
    visibility: hidden;
    max-height: 200px;
}
.posthead {
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    word-spacing: 1px;
}
.postpanel {
    width: 60%;
    border-radius: 10px 10px;
    box-shadow: 2px 2px #e0e0e0;
}
.postpic {
    
}
.post-content {
    font-family: 'Ubuntu';
    font-size: 20px;
    height: 100px;
    text-rendering: optimizeLegibility;
    text-align: left;
    padding-left: 20px;
    margin: 10px;
}
/*Post UI css starts here */
.review-card {
    position: relative;
    box-shadow: 1px 1px 2px 2px grey;
    height: auto;
    max-width: 600px;
    border-radius: 10px;
    }
.review-header {
        background-color: #27ae60;
        height: 80px;
        border-radius: 5px 5px 0px 0px;
    }
.image-circle {
        margin: 10px;
        height: 50px;
        width: 50px;
        float: left;
        border-radius: 25px 25px;
        box-shadow: 4px 8px 4px black;
    }
.person-name {
        padding-top: 20px;
        font-weight: 700;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        color: white;
    }
.person-desig {
        position: relative;
        font-size: 15px;
        bottom: 20px;
        left: 20px;
        font-family: 'Ubuntu',sans-serif;
        font-weight: 600;
        color: white;
    }
.person-review {
        padding: 10px;
        font-family: 'Lato',sans-serif;
        font-weight: 500;
        font-size: 20px;
    }
.seperator {
            text-align: center;
            color: grey;
        }
.toolbar {
            padding: 10px;
        }
.likes {
            float: left;
            padding: 10px;
        }
.comment {
            padding: 10px;
        }
.single-comment {
/*            border-bottom: 1px solid black;*/
            border-top: 1px solid #0d47a1;
            padding: 10px;
        }
.comments-area {
            background:#e8eaf6;
        }
.actual-comments {
            margin: 3px;
            top: 2px;
            font-family: 'Roboto', sans-serif;   
            text-overflow: ellipsis;
        }
.single-comment .image-circle {
            float: left;
            height: 30px;
            width: 30px;
            border-radius: 2px 2px;
            box-shadow: none;
        }
.add-comment {
            padding: 10px;
             border-top: 1px solid #0d47a1;
        }
.nav-sidebar {
    margin-top: 15px;
    background-color: #9E9E9E;
    border-radius: 5px 5px;
    text-align: center;
    padding: 10px;
    display: block;
}
.nav-sidebar a {
    text-decoration: none;
}
@media screen and (max-width:450px)
{
    .btn-post-material {
        right: 40%;
    }
    .postpanel {
        width: 95%;
    }
    .person-name {
        font-size: 15px;
    }
    .person-desig {
        font-size: 10px;
    }
    .postsmodal {
        height: 100%;
        width: 100%;
    }
    .person-review {
        font-size: 15px;
    }
}